body {
	font-family: sans-serif;
}
.header {
	/*background-color: powderblue;*/
	/*border: solid silver 1px;*/
	border: none;
	color: teal;
	display: block;
	font-size: 1.2em;
	letter-spacing: 0.2em;
	text-indent: 0.3em;
	font-variant: small-caps;
}
.header > * {
	display: inline-block;
}
.header > h2 {
	margin-left: 3em;
}

