<!DOCTYPE html>
{% load static %}

<html lang="cs-cz">
    <head>
        <meta charset="utf-8" />
        <title>{%block title%}EMCS šablona{%endblock%}</title>
        <link rel="stylesheet" type="text/css" href="{%static 'intolc/css/main.css'%}">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="{%static 'intolc/js/main.js'%}"></script>
    </head>

    <body>
	   <div class="header">
			{% load static %}
			<img src="{% static "intolc/img/olc_logo.svg" %}" alt="company logo"/>
			<h2><a href={%url 'index'%}>HOME</a></h2>
		</div>
		{%block content%}
			<h2>base header</h2>
		{%endblock%}
    </body>
</html>

