{%extends 'intolc/base.html'%}

{%block title%}olc confirm delete{%endblock%}

{%block content%}
    <!--...-->
	<form method="post">{% csrf_token %}
		<p>Skutečně chceš smazat "{{ object }}"?</p>
		<input type="submit" value="Smazat">
	</form>
{%endblock%}

