<div class="forms">

	<form method="post">{%csrf_token%}
		{{form.as_ul}}
		<input type="submit" value="vytvořit" />
	</form>

	<h4>Přehled:</h4>

	<ul>
		{%for i in query%}
			{%if i.nazev%}
				<li>{{i.nazev}} - <a href="{%url delete i.pk%}">smazat</a></li>
			{%else%}
				<li>{{i.cislo_stopy}}|{{i.skladba.nazev}}|{{i.skladba.delka}} - <a href="{%url delete i.pk%}">smazat</a></li>
			{%endif%}
		{%empty%}
			<span>Není k dispozici</span>
		{%endfor%}
	</ul>
</div>

