{%extends 'intolc/base.html'%}

{%block title%}olc homework{%endblock%}

{%block content%}
	<div class="forms">
		<a href={%url 'typzanr'%}>Žánr</a>
		<a href={%url 'album'%}>Album</a>
		<a href={%url 'skladba'%}>Skladba</a>
		<a href={%url 'albumskladba'%}>AlbumSkladba</a>
		<a href={%url 'typnarodnost'%}>Národnost</a>
		<a href={%url 'interpret'%}>Interpret</a>

		<ul id="prehled">
			<li id>Název alba - žánr - datum vydání</li>
		{%for album in album_query%}
			<li>{{album.nazev}} - {{album.typ_zanr.nazev}} - {{album.datum_vydani}}
				{%if album.interpret_set%}
					({{album.interpret_set.first.nazev}} -
					{{album.interpret_set.first.typ_narodnost.nazev}})
				{%endif%}
				<ul class="sublist">
				{%if album.albumskladba_set%}
					{%for skladba in  album.albumskladba_set.all%}
						<li>{{skladba.cislo_stopy}} - {{skladba.skladba.nazev}} - {{skladba.skladba.delka}}</li>
					{%empty%}
						<li>Prázdné album</li>
					{%endfor%}
				{%endif%}
				</ul>
			</li>
		{%empty%}
			<li>Žádné album nebylo nalezeno v DB</li>
		{%endfor%}
		</ul>
	</div>
{%endblock%}

