body {
	font-family: sans-serif;
}
.header {
	/*background-color: powderblue;*/
	/*border: solid silver 1px;*/
	border: none;
	color: teal;
	display: block;
	font-size: 1.2em;
	letter-spacing: 0.2em;
	text-indent: 0.3em;
	font-variant: small-caps;
}
.header > * {
	display: inline-block;
}
.header > h2 {
	margin-left: 3em;
}
.forms form {
	/* border: solid silver 1px;*/
}
.forms > a {
	border: solid silver 1px;
	padding: 0.5em 2em;
}
.forms > a:hover {
	background-color: silver;
}
.forms ul li {
	color: green;
	font-size: 0.9em;
}
.forms form li {
	display: inline;
}
.forms form li a.button {
	appearance: button;
}
#prehled {
	color: #e4e;
	margin: 4em;
}
#prehled li {
	margin: 1em 0;
}
.nadpis {
	color: black !important;
	text-transform: uppercase;
	font-weight: bold;
}
